body {
   font-style: italic;
}
img#crowfly_image {
   display: block;
   width: 200;
   margin: auto;
}
p#main_links {
   font-size: 1em;
   text-align: center;
}

.normal {
   text-align: center;
}

table.center {
   margin-left:auto;
   margin-right:auto;
}
#sites table {
   border: 1px solid black;
}

#sites table td {
   text-align: center;
   vertical-align: bottom;
   padding: 20px;
}
